apiVersion: v1
kind: Service
metadata:
  name: {{ template "otel-collector.name" . }}
spec:
  selector: {{- include "otel-collector.selectorLabels" . | nindent 4 }}
  type: ClusterIP
  ports:
    - port: 4317
      targetPort: 4317
      protocol: TCP
      name: otlp-grpc
    - port: 4318
      targetPort: 4318
      protocol: TCP
      name: otlp-http
    - port: 8888
      targetPort: 8888
      protocol: TCP
      name: metrics