apiVersion: v1
kind: Service
metadata:
  name: {{ template "grafana.name" . }}
spec:
  selector: {{- include "grafana.selectorLabels" . | nindent 4 }}
  type: LoadBalancer
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http