apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "grafana.name" . }}
spec:
  replicas: 1
  selector:
    matchLabels: {{- include "grafana.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels: {{- include "grafana.labels" . | nindent 8 }}
    spec:
      containers:
        - name: grafana
          image: {{ .Values.grafana.image }}
          ports:
            - containerPort: 3000
          env:
            - name: GF_AUTH_BASIC_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "false"
            - name: GF_SECURITY_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: {{ template "grafana.name" . }}
                  key: admin-username
            - name: GF_SECURITY_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "grafana.name" . }}
                  key: admin-password
          readinessProbe:
            httpGet:
              path: /login
              port: 3000
            initialDelaySeconds: 60
            timeoutSeconds: 10