{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.global.namespace }}
  labels:
    app: prometheus
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
  - port: {{ .Values.prometheus.service.port }}
    targetPort: 9090
    protocol: TCP
    name: web
  selector:
    app: prometheus
---
{{- end }}
{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ .Values.global.namespace }}
  labels:
    app: grafana
spec:
  type: {{ .Values.grafana.service.type }}
  ports:
  - port: {{ .Values.grafana.service.port }}
    targetPort: 3000
    protocol: TCP
    name: web
  selector:
    app: grafana
---
{{- end }}
{{- if .Values.nodeExporter.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: {{ .Values.global.namespace }}
  labels:
    app: node-exporter
spec:
  type: {{ .Values.nodeExporter.service.type }}
  ports:
  - port: {{ .Values.nodeExporter.service.port }}
    targetPort: 9100
    protocol: TCP
    name: metrics
  selector:
    app: node-exporter
---
{{- end }}
{{- if .Values.alertmanager.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: {{ .Values.global.namespace }}
  labels:
    app: alertmanager
spec:
  type: {{ .Values.alertmanager.service.type }}
  ports:
  - port: {{ .Values.alertmanager.service.port }}
    targetPort: 9093
    protocol: TCP
    name: web
  selector:
    app: alertmanager
{{- end }}
