apiVersion: v1
kind: ConfigMap
metadata:
  name: soai-monitor-configmap
data:
  otel-collector-config.yaml: |
{{ tpl (.Files.Get "files/otel-collector-config.yaml") . | indent 4 }}
  otel-user.xml: |
{{ tpl (.Files.Get "files/clickhouse-user.xml") . | indent 4 }}