grafana:
  adminUser: admin
  adminPassword: admin
  port: 3000

prometheus:
  port: 9090
  externalPort: 9091

otel:
  grpcPort: 4317
  httpPort: 4318

clickhouse:
  httpPort: 8123
  tcpPort: 9000
  storage: 1Gi
