apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ .Values.global.namespace }}
data:
  prometheus.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: af4oiychpadj4e
        access: proxy
        url: http://prometheus.{{ .Values.global.namespace }}.svc.cluster.local:9090
        isDefault: true
        jsonData:
          timeInterval: 30s
