apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval }}
      evaluation_interval: {{ .Values.prometheus.evaluationInterval }}
    
    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]
      
      - job_name: "node"
        static_configs:
          - targets: ["node-exporter.{{ .Release.Namespace }}.svc.cluster.local:9100"]
      
      - job_name: "grafana"
        static_configs:
          - targets:
              - {{ printf "%s.%s.svc.cluster.local:3000" (include "prometheus.grafanaServiceName" .) .Release.Namespace | quote }}
    
    rule_files:
      - /etc/prometheus/alert.rules.yml
    
    alerting:
      alertmanagers:
        - static_configs:
            - targets:
                - {{ printf "%s.%s.svc.cluster.local:9093" (include "prometheus.alertmanagerServiceName" .) .Release.Namespace | quote }}
