apiVersion: v1
kind: ConfigMap
metadata:
    name: clickhouse-configmap
data:
    otel-user.xml: |
        <yandex>
            <users>
                <soai_user>
                    <password>soai_password</password>
                    <networks>
                        <ip>::/0</ip>
                    </networks>
                    <profile>default</profile>
                    <quota>default</quota>
                </soai_user>
            </users>
        </yandex>
